<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.integral.mapper.IntegralTypeMapper">
    
    <resultMap type="IntegralType" id="IntegralTypeResult">
        <result property="typeId"    column="type_id"    />
        <result property="typeName"    column="type_name"    />
    </resultMap>
	
	<sql id="selectIntegralTypeVo">
        select type_id, type_name from integral_type
    </sql>
	
    <select id="selectIntegralTypeList" parameterType="IntegralType" resultMap="IntegralTypeResult">
        <include refid="selectIntegralTypeVo"/>
        <where>  
            <if test="typeId != null "> and type_id = #{typeId}</if>
             <if test="typeName != null  and typeName != '' "> and type_name = #{typeName}</if>
         </where>
    </select>
    
    <select id="selectIntegralTypeById" parameterType="Integer" resultMap="IntegralTypeResult">
        <include refid="selectIntegralTypeVo"/>
        where type_id = #{typeId}
    </select>
        
    <insert id="insertIntegralType" parameterType="IntegralType">
        insert into integral_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="typeId != null  ">type_id,</if>
			<if test="typeName != null  and typeName != ''  ">type_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="typeId != null  ">#{typeId},</if>
			<if test="typeName != null  and typeName != ''  ">#{typeName},</if>
         </trim>
    </insert>
	 
    <update id="updateIntegralType" parameterType="IntegralType">
        update integral_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeName != null  and typeName != ''  ">type_name = #{typeName},</if>
        </trim>
        where type_id = #{typeId}
    </update>

	<delete id="deleteIntegralTypeById" parameterType="Integer">
        delete from integral_type where type_id = #{typeId}
    </delete>
	
    <delete id="deleteIntegralTypeByIds" parameterType="String">
        delete from integral_type where type_id in 
        <foreach item="typeId" collection="array" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </delete>
    
</mapper>