<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.integral.mapper.IntegralAppUserMapper">
    
    <resultMap type="IntegralAppUser" id="IntegralAppUserResult">
        <result property="userMenuId"    column="user_menu_id"    />
        <result property="userId"    column="user_id"    />
        <result property="menuId"    column="menu_id"    />
        <result property="appType"    column="app_type"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>
	
	<sql id="selectIntegralAppUserVo">
        select user_menu_id, user_id, menu_id, app_type, create_time from integral_app_user
    </sql>
	
    <select id="selectIntegralAppUserList" parameterType="IntegralAppUser" resultMap="IntegralAppUserResult">
        <include refid="selectIntegralAppUserVo"/>
        <where>  
            <if test="userMenuId != null "> and user_menu_id = #{userMenuId}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
             <if test="menuId != null "> and menu_id = #{menuId}</if>
             <if test="appType != null  and appType != '' "> and app_type = #{appType}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
         </where>
    </select>
    
    <select id="selectIntegralAppUserById" parameterType="Long" resultMap="IntegralAppUserResult">
        <include refid="selectIntegralAppUserVo"/>
        where user_menu_id = #{userMenuId}
    </select>
        
    <insert id="insertIntegralAppUser" parameterType="IntegralAppUser">
        insert into integral_app_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userMenuId != null  ">user_menu_id,</if>
			<if test="userId != null  ">user_id,</if>
			<if test="menuId != null  ">menu_id,</if>
			<if test="appType != null  and appType != ''  ">app_type,</if>
			<if test="createTime != null  ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userMenuId != null  ">#{userMenuId},</if>
			<if test="userId != null  ">#{userId},</if>
			<if test="menuId != null  ">#{menuId},</if>
			<if test="appType != null  and appType != ''  ">#{appType},</if>
			<if test="createTime != null  ">#{createTime},</if>
         </trim>
    </insert>
	 
    <update id="updateIntegralAppUser" parameterType="IntegralAppUser">
        update integral_app_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="menuId != null  ">menu_id = #{menuId},</if>
            <if test="appType != null  and appType != ''  ">app_type = #{appType},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
        </trim>
        where user_menu_id = #{userMenuId}
    </update>

	<delete id="deleteIntegralAppUserById" parameterType="Long">
        delete from integral_app_user where user_menu_id = #{userMenuId}
    </delete>
	
    <delete id="deleteIntegralAppUserByIds" parameterType="String">
        delete from integral_app_user where user_menu_id in 
        <foreach item="userMenuId" collection="array" open="(" separator="," close=")">
            #{userMenuId}
        </foreach>
    </delete>
    
</mapper>