<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.integral.mapper.IntegralDrawMapper">

    <resultMap type="IntegralDraw" id="IntegralDrawResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="amount"    column="amount"    />
        <result property="goodsUrl"    column="goods_url"    />
        <result property="weight"    column="weight"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="Integralvalue"    column="Integral_value"    />
    </resultMap>

    <sql id="selectIntegralDrawVo">
        select id, name,Integral_value ,amount,goods_url, weight, status, del_flag, create_by, create_time, update_by, update_time, remark from integral_draw
    </sql>

    <select id="selectIntegralDrawList" parameterType="IntegralDraw" resultMap="IntegralDrawResult">
        <include refid="selectIntegralDrawVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="name != null  and name != '' "> and name = #{name}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="goodsUrl != null and goodsUrl !='' "> and goods_url = #{goodsUrl}</if>
            <if test="weight != null "> and weight = #{weight}</if>
            <if test="status != null  and status != '' "> and status = #{status}</if>
            <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
            <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
        </where>
    </select>

    <select id="selectIntegralDrawById" parameterType="Integer" resultMap="IntegralDrawResult">
        <include refid="selectIntegralDrawVo"/>
        where id = #{id}
    </select>

    <insert id="insertIntegralDraw" parameterType="IntegralDraw">
        insert into integral_draw
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">id,</if>
            <if test="name != null  and name != ''  ">name,</if>
            <if test="amount != null  ">amount,</if>
            <if test="goodsUrl != null and goodsUrl !=''">goods_url,</if>
            <if test="weight != null  ">weight,</if>
            <if test="status != null  and status != ''  ">status,</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
            <if test="createBy != null  and createBy != ''  ">create_by,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by,</if>
            <if test="updateTime != null  ">update_time,</if>
            <if test="remark != null  and remark != ''  ">remark,</if>
            <if test="Integralvalue != null  and Integralvalue != ''  ">Integral_value,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">#{id},</if>
            <if test="name != null  and name != ''  ">#{name},</if>
            <if test="amount != null  ">#{amount},</if>
            <if test="goodsUrl != null and goodsUrl !='' ">#{goodsUrl},</if>
            <if test="weight != null  ">#{weight},</if>
            <if test="status != null  and status != ''  ">#{status},</if>
            <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''  ">#{createBy},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
            <if test="Integralvalue != null  and Integralvalue != ''  ">#{Integralvalue},</if>
        </trim>
    </insert>

    <update id="updateIntegralDraw" parameterType="IntegralDraw">
        update integral_draw
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="amount != null  ">amount = #{amount},</if>
            <if test="goodsUrl != null and goodsUrl !='' ">goods_url = #{goodsUrl},</if>
            <if test="weight != null  ">weight = #{weight},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="Integralvalue != null  and Integralvalue != ''  ">Integral_value = #{Integralvalue},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteIntegralDrawById" parameterType="Integer">
        delete from integral_draw where id = #{id}
    </delete>

    <delete id="deleteIntegralDrawByIds" parameterType="String">
        delete from integral_draw where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>