<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
			<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="task:rewardTask:add">
				<i class="fa fa-plus"></i> 添加
			</a>
			<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="task:rewardTask:edit">
	            <i class="fa fa-edit"></i> 修改
	        </a>
			<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="task:rewardTask:remove">
				<i class="fa fa-remove"></i> 删除
			</a>
		</div>
			
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('task:rewardTask:edit')}]];
        var removeFlag = [[${@permission.hasPermi('task:rewardTask:remove')}]];
        var undoFlag = [[${@permission.hasPermi('integral:integralLog:undo')}]];
        var prefix = ctx + "task/rewardTask";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "悬赏任务",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'rtId', 
					title : '主键',
                    visible: false
				},
				{
					formatter: function (value, row, index) {
						return index+ 1;
					}
				},
				{
					field : 'title', 
					title : '任务标题' 
				},
				{
					field : 'content', 
					title : '任务内容' 
				},
				{
					field : 'taskTypeId', 
					title : '任务类型',
                    formatter: function (value) {
                        switch (value) {
                            case 1: return '<span class="badge badge-info">日常任务</span>';
                            case 2: return '<span class="badge badge-important">抢单任务</span>';
                            case 3: return '<span class="badge badge-success">挑战任务</span>';
                        }
                    }
				},
				{
					field : 'integralTypeId', 
					title : '积分类型',
                    formatter: function (value) {
                        switch (value) {
                            case 1: return '<span class="badge badge-info">品德A分</span>';
                            case 2: return '<span class="badge badge-important">业绩B分</span>';
                            case 3: return '<span class="badge badge-success">行为C分</span>';
                        }
                    }
				},
				{
					field : 'appWay', 
					title : '可申请方式',
                    formatter: function (value) {
                        switch (value) {
                            case '1': return '<span class="badge badge-info">每日一次</span>';
                            case '2': return '<span class="badge badge-important">仅限一次</span>';
                            case '3': return '<span class="badge badge-success">仅限一次</span>';
                        }
                    }

				},
				{
					field : 'taskIntegral', 
					title : '任务积分数量' 
				},
				{
					field : 'startTime', 
					title : '开始时间' 
				},
				{
					field : 'endTime', 
					title : '结束时间' 
				},
				{
					field : 'peopleNum', 
					title : '抢单人数' 
				},
				{
					field : 'sort', 
					title : '完成执行顺序' 
				},
				{
					field : 'status', 
					title : '使用状态',
                    formatter: function (value) {
                        switch (value) {
                            case '0': return '<span class="badge badge-info">使用中</span>';
                            case '1': return '<span class="badge badge-warning">停用</span>';
                        }
                    }
				},
				{
					field : 'createTime', 
					title : '创建时间' 
				},
				{
					field : 'updateTime', 
					title : '修改时间' 
				},
				/*{
					field : 'deptId', 
					title : '部门ids' 
				},*/
				{
					field : 'remark', 
					title : '备注' 
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.rtId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.rtId + '\')"><i class="fa fa-edit"></i>编辑</a> ');

                        if (row.status == '0') {
                            actions.push('<a class="btn btn-danger btn-xs ' + undoFlag + '" href="#" onclick="undo(\'' + row.rtId +'|'+ row.status + '\')"><i class="fa fa-remove"></i>停用</a>');
                        } else if (row.status == '1') {
                            actions.push('<a class="btn btn-primary btn-xs ' + undoFlag + '" href="#" onclick="undo(\'' + row.rtId +'|'+ row.status + '\')"><i class="fa fa-refresh"></i>启用</a>');
                        } else {
                            actions.push('<a class="btn btn-danger btn-xs ' + undoFlag + '" href="#" onclick="undo(\'' + row.rtId +'|'+ row.status + '\')"><i class="fa fa fa-remove"></i>停用</a>');
                        }

                        return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        /** 启用  停用*/
        function undo(params) {
            params= params.split('|');
            var status = null;
            var taskId = null;
            taskId = params[0];
            status = params[1];
            var url = prefix + '/undo/' + taskId+ '/' + status;
            $.operate.submit(url, "get", "json", "");
        }
    </script>
</body>
</html>