<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">

		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="integralJk-form">
					<div class="select-list">
						<ul>
							<li>
								<label>员工姓名： </label><input type="text" name="userName"/>
							</li>
							<li class="select-time">
								<label>积分奖扣时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

		<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
<!--			<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:userLoginLog:add">-->
<!--				<i class="fa fa-plus"></i> 添加-->
<!--			</a>-->
<!--			<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:userLoginLog:edit">-->
<!--	            <i class="fa fa-edit"></i> 修改-->
<!--	        </a>-->
<!--			<a class="btn btn-danger btn-del btn-del disabled"  onclick="$.operate.removeAll()" shiro:hasPermission="system:userLoginLog:remove">-->
<!--				<i class="fa fa-remove"></i> 删除-->
<!--			</a>-->
			<span class="btn btn-success" onclick="selectNum()">
				<i class="fa fa-plus"></i> 今日访问量
			</span>
			<span id="span" class="btn btn-info"  style="color: #00B83F;font-size: 20px"></span>
		</div>
			
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:userLoginLog:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:userLoginLog:remove')}]];
        var prefix = ctx + "system/userLoginLog";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "用户登录记录",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'userLogId', 
					title : '用户登录日志记录 主键',
					visible: false
				},
				// {
				// 	field : 'userId',
				// 	title : '用户id'
				// },
				{
					field : 'userName',
					title : '用户姓名',
					width: '200px'

				},
				{
					field : 'loginNum',
					title : '登录次数',
					width: '200px'
				}
				//,
				// {
				// 	field : 'userId',
				// 	title : '用户id'
				// },
				// {
				// 	field : 'userLoginTime',
				// 	title : '用户登录时间'
				// },
		        // {
		        //     title: '操作',
		        //     align: 'center',
		        //     formatter: function(value, row, index) {
		        //     	var actions = [];
		        //     	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.userLogId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                //         actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.userLogId + '\')"><i class="fa fa-remove"></i>删除</a>');
				// 		return actions.join('');
		        //     }
		        // }
		        ]
            };
            $.table.init(options);
        });
        $(function(){
			selectNum();
		})
		function selectNum() {
			$.ajax({
				type:'post',
				url: prefix+ '/selectCountNum',
				success:function (rs) {
					console.log(rs.num)
					$("#span").html(rs.num);
				}
			});
		}
    </script>
</body>
</html>