<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8">
    <link rel="stylesheet"th:href="@{/css/bootstrap.min.css}" crossorigin="anonymous">
    <link th:href="@{/ajax/libs/fileinput/css/fileinput.css}" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <link th:href="@{/ajax/libs/fileinput/themes/explorer-fas/theme.css}" media="all" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/jquery.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/ajax/libs/bootstrap-table/bootstrap-table.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/ajax/libs/fileinput/js/plugins/sortable.js}" type="text/javascript"></script>
    <script th:src="@{/ajax/libs/fileinput/js/fileinput.js}" type="text/javascript"></script>
    <script th:src="@{/ajax/libs/fileinput/js/locales/zh.js}" type="text/javascript"></script>
    <script th:src="@{/ajax/libs/fileinput/themes/fas/theme.js}"  type="text/javascript"></script>
    <script th:src="@{/ajax/libs/fileinput/themes/explorer-fas/theme.js}"  type="text/javascript"></script>
</head>
<body class="gray-bg">
<div class="container my-4">
    <form enctype="multipart/form-data">
        <div class="file-loading">
            <input id="file" name="file" type="file" accept=".xls,.xlsx" show="false">
        </div>
    </form>
</div>
</body>
<script>

    var prefix ="/integral/excel";
    $('#file').fileinput({
        theme: 'fas',
        language: 'zh',
        uploadUrl:  prefix+"/importExcel",
        autoReplace:true,
        allowedFileExtensions: ['xls', 'xlsx'],
        maxFileCount:1, //表示允许同时上传的最大文件个数
    }).on("filebatchselected", function(event, files) {

    }).on('fileerror', function(event, data, msg) {
        $('#file').fileinput('clear');
        alert(data.response.msg);
        javascript :history.go(-1);
    }).on("fileuploaded", function (event, data, previewId, index) {
        $('#file').fileinput('clear');
        alert(data.response.msg);
        javascript :history.go(-1);
    });
</script>
</html>