<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-user-edit" th:object="${user}">
			<input name="user"  type="hidden"  th:field="${user}" />
			<input name="userId"  type="hidden"  th:field="*{userId}" />
			<input name="deptId"  type="hidden"  th:field="*{deptId}" id="treeId"/>
			<div class="form-group">
				<label class="col-sm-3 control-label ">登录名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" readonly="true" th:field="*{loginName}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">部门名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="deptName" onclick="selectDeptTree()" readonly="true" id="treeName" th:field="*{dept.deptName}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">用户名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="userName" id="userName" th:field="*{userName}">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">基础积分：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="jiChuIntegral" id="jiChuIntegral" th:field="*{jiChuIntegral}" >
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">管理奖扣：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="manAward" id="manAward" th:field="*{manAward}" >
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">手机：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="phonenumber" id="phonenumber" th:field="*{phonenumber}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">性别：</label>
				<div class="col-sm-8">
					<select id="sex"  th:value="*{sex}" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">
	                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" ></option>
	                </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">是否在职：</label>
				<div class="col-sm-8">
					<div class="onoffswitch">
                         <input type="checkbox" th:checked="${user.status == '0' ? true : false}" class="onoffswitch-checkbox" id="status" name="status">
                         <label class="onoffswitch-label" for="status">
                             <span class="onoffswitch-inner"></span>
                             <span class="onoffswitch-switch"></span>
                         </label>
                     </div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">是否参加积分：</label>
				<div class="col-sm-8">
					<div class="onoffswitch">
						<input type="checkbox" th:checked="${user.integralStatus == 1 ? true : false}"  class="onoffswitch-checkbox" id="integralStatus" name="integralStatus">
						<label class="onoffswitch-label" for="integralStatus">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">岗位：</label>
				<div class="col-sm-8">
					<select id="post"   th:value="${postId}"  name="post" class="form-control select2" multiple="multiple" >
						<option th:each="post:${posts}" th:value="${post.postId}" th:text="${post.postName}" th:selected="${post.flag}" th:disabled="${post.status == '1'}"></option>
					</select>


				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">角色：</label>
				<div class="col-sm-8">

					<div class="radio-box" th:each="role:${roles}">
						<input th:if="${user.roles==null}" name="role" type="radio" th:value="${role.roleId}" th:id="${role.roleId}"/>
						<input th:if="${user.roles!=null}" name="role" type="radio" th:value="${role.roleId}" th:id="${role.roleId}"  th:checked="${role.roleId== user.roles[0].roleId ? true : false}"/>
						<label th:for="${role.roleId}" th:text="${role.roleName}"></label>
					</div>
				</div>
			</div>
			<!--<div class="form-group">
				<label class="col-sm-3 control-label">备注角色：</label>
				<div class="col-sm-8">
					<input class="form-control"  type="text" name="remark" id="remark" th:field="*{remark}" >
				</div>
			</div>-->
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script>

		var aa = $('#post option:selected').text();
		$("#option").text(aa)

        // $("input[name='user']").val();
		// todo
        $("#form-user-edit").validate({
        	rules:{
        		userName:{
        			required:true,
        		},
        		deptName:{
        			required:true,
        		},
        		email:{
        			required:true,
                    email:true,
                    remote: {
                        url: ctx + "system/user/checkEmailUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                        	"userId": function() {
                                return $("#userId").val();
                            },
                			"email": function() {
                                return $.common.trim($("#email").val());
                            }
                        },
                        dataFilter: function (data, type) {
                        	return $.validate.unique(data);
                        }
                    }
        		},
        		phonenumber:{
        			required:true,
        			/*isPhone:true,*/
                    remote: {
                        url: ctx + "system/user/checkPhoneUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                        	"userId": function() {
                        		return $("#userId").val();
                            },
                			"phonenumber": function() {
                                return $.common.trim($("#phonenumber").val());
                            }
                        },
                        dataFilter: function (data, type) {
                        	return $.validate.unique(data);
                        }
                    }
        		},
        	},
        	messages: {
        		"email": {
                    remote: "Email已经存在"
                },
        		"phonenumber":{
                	remote: "手机号码已经存在"
        		}
            },
        	submitHandler:function(form){
        		edit();
        	}
        });


        function submitHandler() {
            if ($.validate.form()) {
                edit();
            }
        }
        function edit() {
        	var userId = $("input[name='userId']").val();
            var manAward = $("input[name='manAward']").val();
        	var deptId = $("input[name='deptId']").val();
            var userName = $("input[name='userName']").val();

        	var phonenumber = $("input[name='phonenumber']").val();
        	var sex = $("#sex option:selected").val();
        	var status = $("input[name='status']").is(':checked') == true ? 0 : 1;
            // var roleIds = $.form.selectCheckeds("role");
            var roleIds = $("input[name='role']:checked").val();
            var email = $("input[name='email']").val();
        	var postIds = $.form.selectSelects("post");
            var managementIds = $("input[name='managementIds']").val();
            var integral = $("input[name='integral']").val();
            var jiChuIntegral = $("input[name='jiChuIntegral']").val();
            var biaoIntegral = $("input[name='biaoIntegral']").val();
            var loveIntegral = $("input[name='loveIntegral']").val();
            var remark = $("input[name='remark']").val();
            var integralStatus = $("input[name='integralStatus']").is(':checked') == true ? 0 : 1;
        	$.ajax({
        		cache : true,
        		type : "POST",
        		url : ctx + "system/user/edit",
        		data : {
        			"userId": userId,
        			"deptId": deptId,
        			"userName": userName,
        			"email": email,
        			"phonenumber": phonenumber,
        			"sex": sex,
        			"status": status,
					"manAward":manAward,
        			"postIds": postIds,
                    "integral": integral,
                    "jiChuIntegral": jiChuIntegral,
                    "biaoIntegral": biaoIntegral,
                    "loveIntegral": loveIntegral,
                    "remark": remark,
			        "integralStatus": integralStatus,
					"managementIds": managementIds,
					"roleIds":roleIds
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(data) {
        			$.operate.successCallback(data);
        		}
        	});
        }
            // /** 一个领导所管理的部门*/
            // function selectManagementDept() {
            //     var treeId = $("#managementIds").val();
            //     var deptId = $.common.isEmpty(treeId) ? "100" : $("#managementIds").val();
            //     var url = ctx + "system/dept/selectDeptTree/" + deptId;
            //     var options = {
            //         title: '选择部门',
            //         width: "380",
            //         url: ctx + "system/dept/selectDeptTree/" + deptId,
            //         callBack: doSubmit1
            //     };
            //     $.modal.openOptions(options);
            // }
            // function doSubmit1(index, layero){
			//
            //     var body = layer.getChildFrame('body', index);
            //     $("#managementIds").val(body.find('#treeId').val());
            //     $("#managementDept").val(body.find('#treeName').val());
			//
            //     layer.close(index);
            // }


        /*  用户管理-新增-选择部门树*!*/
        function selectDeptTree() {
            var treeId = $("#treeId").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
            var url = ctx + "system/dept/selectDeptTree1/" + deptId;
            var options = {
                title: '选择部门',
                width: "380",
                url: ctx + "system/dept/selectDeptTree1/" + deptId,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            console.log(1)
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());

            layer.close(index);
        }
    </script>
</body>
</html>
