<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-rewardTaskDept-edit" th:object="${rewardTaskDept}">
            <input id="rtdId" name="rtdId" th:field="*{rtdId}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">任务列表主键：</label>
                <div class="col-sm-8">
                    <input id="rtId" name="rtId" th:field="*{rtId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">部门主键：</label>
                <div class="col-sm-8">
                    <input id="dId" name="dId" th:field="*{dId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-8">
                    <input id="createDate" name="createDate" th:field="*{createDate}" class="form-control" type="text">
                </div>
            </div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "task/rewardTaskDept"
		$("#form-rewardTaskDept-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-rewardTaskDept-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
